* {
  margin: 0;
  padding: 0;
}

/* Inicia banner promocional*/
.sitewideBanner {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 250%;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease-in;
  display: block;
  padding: 0.7em 1em;
  text-align: center;
  background: #ffdd00;
  color: #000000;
  background-color: #ffdd00;
}
/* Termina banner promocional*/

/*Inicia NavBar*/
header {
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
}

.navbar a {
  padding: 10px 20px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #ffdc17;
  color: #000000;
  border-radius: 11px;
}

.navbar .item-5{
  border: 1px solid #ffdc17;
  border-radius: 10px;
}

.logo img {
  max-width: 100%; 
  display: block;
  margin: 0 auto; 
}

/* Estilos para la barra de navegación (navbar) */
.navbar {
  background-color: white; 
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px; 
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(
    0,
    0,
    0
  ); 
}

/*Termina NavBar*/

/*Incicia Cards*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.checked {
  color: orange;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  width: 100%;
  overflow: auto;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.users-ratings{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow:column;
}
/*Termina Flip Cards*/

/*texto home start*/
.lux {
  font-family: "Poppins", sans-serif;
  padding: 50px 40px;
  font-size: 1.4em;
  justify-content: center;
  align-content: center;
  display:grid;
  grid-template-columns: 1fr 4fr;
}

.hashtag {
  padding: 20px 0px;
  box-sizing: 50%;
}

.item1{
  width: 120px;
  height: 40px;
  color:#ffffff ;
  background-color: black;
  line-height: 40px;
  text-align: center;
}

.hashtag .item1:hover{
  background-color: #ffdd00;
  transition: 0.2s ease-in;
  width: 120px;
  height: 120px;
  border-radius: 100%;  
  line-height: 120px;
}

.item2{
  align-items: flex-end;
  padding: 20px 0px;
}

.lux p{
  flex-direction: column;
}

.hometext {
  font-size:x-large; 
  line-height: 1.2;
  padding-left: 15%;
  align-items: center;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

/*texto home end*/

/* Newsletter start*/
/* Style the form - display items horizontally */
.form-inline {
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: #ffdd00;
}

.newsletter{
  font-family: "Poppins", sans-serif;
  padding: 30px 40px;
  margin-top: 20px;
  font-size: 1.4em;
  justify-content: center;
  align-content: center;
  background-color:rgb(228, 228, 228);
}

.newsletter h2{
  width: 350px;
  height: 60px;
  color:#ffffff ;
  background-color: black;
  line-height: 60px;
  text-align: center;
}

.btn {
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #282A35;
  color: white;
  position: relative;
}

.ribbon {
  width: 60px;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #ff9800;
  color: white;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 20px 0px;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
/* Newsletter end*/

/* ARRANCA BIO*/
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./img/Bio_main1.jpg');
  min-height: 100%;
}
/* TERMINA BIO */

/* ARRANCA CONTACT */
.image-cutout {
  background-image: url("./img/cutout_banner.gif");
  background-size: cover;
  position: relative;
  height: 300px;
}

.text-cutout {
  background-color: white;
  color: black;
  font-size: 10vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* TERMINA CONTACT */