* {
  margin: 0;
  padding: 0;
}

/* Inicia banner promocional*/
.sitewideBanner {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 250%;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease-in;
  display: block;
  padding: 0.7em 1em;
  text-align: center;
  background: #ffdd00;
  color: #000000;
  background-color: #ffdd00;
}
/* Termina banner promocional*/

/*Inicia NavBar*/
header {
  background-color: #ffffff;
  color: #ffffff;
  text-align: center;
}

.navbar a {
  padding: 10px 20px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.navbar a:hover {
  background-color: #ffdc17;
  color: #000000;
  border-radius: 11px;
}

.navbar .item-5{
  border: 1px solid #ffdc17;
  border-radius: 10px;
}

.logo img {
  max-width: 100%; 
  display: block;
  margin: 0 auto; 
}

/* Estilos para la barra de navegación (navbar) */
.navbar {
  background-color: white; 
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px; 
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(
    0,
    0,
    0
  ); 
}

/*Termina NavBar*/

/*Incicia Cards*/
.card {
  margin-inline: 20px;
  margin-top: 10px;
}
/*Termina Cards*/

/*texto home start*/
.lux {
  font-family: "Poppins", sans-serif;
  padding: 100px 40px;
  font-size: 1.4em;
  justify-content: center;
  align-content: center;
  display:grid;
  grid-template-columns: 1fr 4fr;
}

.hashtag {
  padding: 20px 0px;
  box-sizing: 50%;
}

.item1{
  width: 120px;
  height: 40px;
  color:#ffffff ;
  background-color: black;
  line-height: 40px;
  text-align: center;
}

.hashtag .item1:hover{
  background-color: #ffdd00;
  transition: 0.2s ease-in;
  width: 120px;
  height: 120px;
  border-radius: 100%;  
  line-height: 120px;
}

.item2{
  align-items: flex-end;
  padding: 20px 0px;
}

.lux p{
  flex-direction: column;
}

.hometext {
  font-size:x-large; 
  line-height: 1.2;
  padding-left: 15%;
  align-items: center;
}

/*texto home end*/
